body {
    font-family:verdana,helvetica,arial,sans-serif;
    padding:20px;
    font-size:12px;
    margin:0;
}
h2 {
    font-size:18px;
    font-weight:bold;
    margin:0;
    margin-bottom:15px;
}
.demo-info{
	padding:0 0 12px 0;
}
.demo-tip{
	display:none;
}
.label-top{
    display: block;
    height: 22px;
    line-height: 22px;
    vertical-align: middle;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: verdana,helvetica,arial,sans-serif;
    font-size: 12px;
}


h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
}


.define-head {
    font-family: Verdana,Geneva,sans-serif;
    background-color: #EFEFEF;
    height: 100%;
    overflow: hidden;
    background: url('../Content/Images/head_bg.gif');
}

    .define-head .define-logo {
        height: 52px;
        width: 50%;
        float: left;
        background: url('../Content/Images/Logo.png') 10px 7px no-repeat;
    }

        .define-head .define-logo #LoginTopLine {
            letter-spacing: 2px;
            margin: 8px 0px 0px 10px;
            text-shadow: 3px 1px 6px #fff;
            color: #15428B;
            font-size: 26px;
            height: 30px;
            line-height: 45px;
            padding-left: 55px;
        }

        .define-head .define-logo #LoginBotoomLine {
            letter-spacing: 1px;
            text-shadow: 3px 1px 6px #fff;
            color: #15428B;
            font-size: 12px;
            height: 15px;
            line-height: 15px;
            padding-left: 65px;
        }

    .define-head .define-account {
        height: 50px;
        width: 50%;
        float: right;
        text-align: right;
        color: #fff;
        line-height: 20px;
        padding-top: 18px;
        font-size:  15px;
    }

        .define-head .define-account a {
            color: #fff;
        }

            .define-head .define-account a:hover {
                color: #FF0;
            }

        .define-head .define-account span {
            padding-left: 18px;
            background: url('../Content/Images/memeber.gif') left center no-repeat;
        }

            .define-head .define-account span b {
                font-weight: normal;
                color: #FF0;
            }

.define-bottom {
    background-color: #F2F5F7;
    height: 20px;
    line-height: 20px;
}

.easyui-accordion ul {
    list-style-type: none;
    margin: 0px;
    padding: 5px;
}

    .easyui-accordion ul li {
        padding: 0px;
    }

        .easyui-accordion ul li a {
            line-height: 24px;
        }

        .easyui-accordion ul li div {
            margin: 2px 0px;
            padding-left: 10px;
            padding-top: 2px;
        }

            .easyui-accordion ul li div.hover {
                border: 1px dashed #99BBE8;
                background: #E0ECFF;
                cursor: pointer;
            }

                .easyui-accordion ul li div.hover a {
                    color: #416AA3;
                }

            .easyui-accordion ul li div.selected {
                border: 1px solid #99BBE8;
                background: #E0ECFF;
                cursor: default;
            }

                .easyui-accordion ul li div.selected a {
                    color: #416AA3;
                    font-weight: bold;
                }


.icon {
    background: url('../Content/Images/icons.png') no-repeat;
    width: 18px;
    line-height: 18px;
    display: inline-block;
}

.icon-sys {
    background-position: 0px -200px;
}

.icon-set {
    background-position: -380px -200px;
}

.icon-add {
    background-position: -20px 0px;
}

.icon-nav {
    background-position: -100px -20px;
}

.icon-users {
    background-position: -100px -480px;
}

.icon-role {
    background-position: -360px -200px;
}

.icon-set {
    background-position: -380px -200px;
}

.icon-log {
    background-position: -380px -80px;
}

.icon-delete {
    background-position: -140px -120px;
}

.icon-edit {
    background-position: -380px -320px;
}

.icon-magic {
    background-position: 0px -500px;
}

.icon-database {
    background-position: -20px -140px;
}
