<div class="define-account" style="cursor: pointer;">
    @*@Html.Partial("_LoginPartial")*@
    <a><span>MrZhangSan</span></a>
    &nbsp;&nbsp;&nbsp;
    <a style="text-decoration:underline"><b>切换用户</b></a>
    &nbsp;&nbsp;&nbsp;
    <a style="text-decoration:underline"><b>注销</b></a>
    &nbsp;&nbsp;&nbsp;
</div>